.game-lamp {
    width: 18px;
    height: 18px;
    background-color: #c4c4c4;
    border-radius: 50%;
}

.game-lamp.active {
    background: radial-gradient(50% 50% at 50% 50%, #9F8FFF 0%, #7E69FF 100%);
    box-shadow: 0 0 6px 0 #7E69FF;
}
