.game {
    padding: 60px 0;
}

.game__grid {
    max-width: 550px;
    display: grid;
    margin: 0 auto;
}

.game__grid--lamp {
    gap: 115px;
}

.game__grid--button {
    gap: 20px;
}

.game__grid--9 {
    grid-template-columns: repeat(3, 1fr);
}

.game__grid--16 {
    grid-template-columns: repeat(4, 1fr);
}

.game__grid--25 {
    grid-template-columns: repeat(5, 1fr);
}
