.game-page {
    padding: 50px 50px 0;
    background-color: blueviolet;
    background-repeat: no-repeat;
    background-position: center;
}

.game-page__wrapper {
    background: #fff;
    padding: 60px 0;
}
